@import "../../../../assets/styles/variables.scss";

.exchange-rate-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__line{
    width: 98%;
    border-bottom: 2px solid $color-grey-2;
    margin-bottom: 32px;
  }

  &__values{
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
    margin-bottom: 32px;

    &--title{
      span{
        color: $color-dark-1;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
      p{
        color: $color-dark-3;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
    }

    &--types{
      span{
        color: $color-blue;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  &__final-value{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 98%;
    background-color: RGBA(7,176,251,0.1);


    p{
      color: $color-blue;
      font-size: 32px;
      padding: 40px 0;
      font-weight: 700;
    }
  }

  &__days{
    width: 100%;
  }

}
