<section class="exchange-rate">
  <div class="exchange-rate__title">
    <h1>BRL Exchange Rate</h1>
  </div>
  <form class="exchange-rate__form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter the currency code</mat-label>
      <input
        [(ngModel)]="exchangeRate"
        name="exchangeRates"
        type="text"
        matInput
        placeholder="Enter the currency code"
        >
    </mat-form-field>
  </form>
  <div class="exchange-rate__actions">
    <button class="exchange-rate__actions--button"
      [disabled]="!exchangeRate"
      (click)="returnValueExchangeRates(exchangeRate)">
      Exchange result
    </button>
  </div>
  <div class="exchange-rate__result" *ngIf="returnIsTrue">
    <app-exchange-rate-result [resultExchageRate]="exchangeRates"></app-exchange-rate-result>
  </div>
</section>
